# 忽略压缩包
Deepquantum.zip

# 忽略整个数据原始目录
Deepquantum/data/

# 压缩包文件
*.zip
*.rar
*.7z
*.tarS
*.gz

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# 输出文件
outputs

# Claude Code
.claude/

#文章
article/

#项目手册
project/

#codex
.codex/

#项目文档
项目文档.md

#训练日志
Deepquantum/logs/

#对抗实验
Deepquantum/experiments/
